MAIL_APP_PASSWORD=

FASTVISTOS_API_URL=http://localhost:8000/api
# ou em produção:
# FASTVISTOS_API_URL=https://sys.fastvistos.com.br/api

FASTVISTOS_BUSINESS_ID=41a5c7f9-5e92-...
FASTVISTOS_API_KEY=649dba57b904...
